.signup {
    padding: 20px;
    width: 100%;
}
form {
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
}
.title {
    text-align: center;
    margin-top: 0px;
}

.form-input:focus {
    outline: none;
}
.form-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}
.form-input:last-child {
    margin-bottom: 0px;
}
.col-2 {
    width: 100%;
}
.ml-2 {
    margin-left: 10px;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.error-message {
    color: red;
    margin: 0px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.big-message {
    height: fit-content;
}
@media screen and (min-width: 576px) {
    .signup {
        padding: 40px;
        padding-left: 0px;
    }
    .col-2 {
        /* width: calc(50% - 5px); */
    }
    .title {
        text-align: right;
    }
    .btn-container {
        margin-left: 10px;
        justify-content: flex-end;
    }
}